<head>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/jquery-ui.min.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <style>
        .ui-autocomplete-loading {
            background: white url("/static/images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
    </style>

    <script type="text/javascript">
        var moviesSelected = []
        $(function () {
            // $("#btnRecs").click(function () {
            //     getRecs();
            // });

            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $('#movies')
                .on("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/movies",
                            method: "GET",
                            dataType: "json",
                            data: {
                                term: request.term
                            },
                        }).then(function (data) {
                            response(data.result);
                        });
                    },
                    minLength: 2,
                    select: function (event, ui) {
                        if (moviesSelected.indexOf(ui.item.id) == -1) {
                            // movie_data = ui.item.value.split(' (');
                            movie_name = ui.item.value.substr(0, ui.item.value.length - 5)
                            movie_year = ui.item.value.substr(ui.item.value.length - 5).replace(')', '')
                            getImageUrl(movie_name, movie_year, ui.item.value, ui.item.id)                        

                            // var terms = split(this.value);
                            // // remove the current input
                            // terms.pop();
                            // // add the selected item
                            // terms.push(ui.item.value);
                            // // add placeholder to get the comma-and-space at the end
                            // terms.push("");
                            // this.value = terms.join(", ");
                                                        
                            moviesSelected.push(ui.item.id);
                        }
                        this.value = '';

                        return false;
                    }
                });

                $('#btnQPRecs').click(function(){
                    getQPRecs();
                });
        });

        // function getRecs() {
        //     $('.recs').empty();
        //     $.ajax({
        //         url: "/recs",
        //         method: "POST",
        //         dataType: "json",
        //         data: {
        //             users: $("#txtUsers").val(),
        //             nrrecs: $("#txtNrRecs").val(),
        //             algo: $("#cmbAlgos").val(),
        //             items: $("#txtItems").val()
        //         }
        //     }).then(function (response) {
        //         var htmlItem = "<div class='item'><span>User: <user/></span><p><recs/></p></div><br />"
        //         response.result.forEach(item => {
        //             var recs = "";
        //             item["recs"].forEach(rec => {
        //                 recs += rec['item'] + " : " + rec['score'] + " ,";
        //             });
        //             recs = recs.substr(0, recs.length - 1);
        //             var parsedItem = htmlItem.replace('<user/>', item["user"]).replace('<recs/>', recs);
        //             $('.recs').append(parsedItem);
        //         });
        //         console.log(response);
        //     });
        // }

        function getMoviesIds() {
            moviesIds = ""
            for (index = 0; index < moviesSelected.length; index++) { 
                moviesIds += moviesSelected[index] + ","
            }
            return moviesIds.substr(0, moviesIds.length - 1);
        }

        function getQPRecs(){
            $('#qpRecs').empty();
            moviesIds = getMoviesIds();
            $.ajax({
                url: "/qprecs",
                method: "POST",
                dataType: "json",
                data: {
                    movies: moviesIds,
                    nrrecs: $("#txtNrRecs").val(),
                    items: $("#txtItems").val(),
                    user: $("#userId").text(),
                    algo: $("#cmbAlgos").val()
                }
            }).then(function (response) {
                // var ul = $('<ul>').appendTo('.qpRecs');
                response.result.forEach(item => {
                    item["recs"].forEach(rec => {
                        // text = rec['title'] + ". Id: " + rec['item'] + ". Score: " + rec['score'];
                        // ul.append($('<li>').text(text));
                        addMovie('qpRecs', rec['title'], rec['image_url'], rec['item'], rec['score']);
                    });
                });
            });
        }

        function getImageUrl(movieName, movieYear, fullName, movieId) {
            $.ajax({
                url: "/imageurl",
                method: "GET",
                dataType: "json",
                data: {
                    movie_name: movieName,
                    movie_year: movieYear
                }
            }).then(function (response) {
                addMovie('selectedMovies', fullName, response.image_url, movieId);
            });
        }

        function addMovie(containerId, movieName, imageUrl, movieId, score) {
            var htmlItem = "<div class=\"col-lg-2 col-md-3 col-6\" style=\"margin-bottom:10px;\" id='{movieId}'><div class=\"card card-default\"><button onclick=\"removeMovie({movieId})\" type=\"button\" class=\"close\" aria-label=\"Close\"><span aria-hidden=\"true\">×</span></button><h5>{movieName}</h5> <p>{score}</p> <img src='{imageUrl}' width='150px' height='150px'/></div></div>";
            parsedItem = htmlItem.replace('{movieName}', movieName).replace('{imageUrl}', imageUrl).replace(/{movieId}/g, movieId).replace('{score}', score != undefined ? 'Score: ' + score : '');
            // if (score != undefined) {
            //     parsedItem = parsedItem.replace('{score}', score);
            // }
            $('#' + containerId).append(parsedItem);
        }

        function removeMovie(movieId) {
            $('#' + movieId).remove();
            moviesSelected = jQuery.grep(moviesSelected, function(value) {
                return value != movieId;
            });
        }

    </script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">                    
                    <strong>Recommendation Server Demo App</strong>
                  </a>
            </div>
        </div>
    </header>
    <main role="main">
        <!-- <section class="text-center">
            <div class="container">
                <span>Items:</span> <input type="text" id="txtItems" value="5,102,203,304,400" />
            </div>
        </section> -->
        <section class="jumbotron text-center">
            <div id="quick-picks" class="container">
                <h2>Quick picks functionality</h2>
                <p class="lead text-muted">
                    Pick 5 movies and the system gives you recommendations.
                </p>
                <p>
                    <span>Current user id: </span> <span id="userId">{{ value }}</span>
                </p>
                <p>
                    <span>Movies:</span>
                    <div class="ui-widget">
                        <input id="movies" size="100" />
                    </div>
                </p>
                <div class="row" id="selectedMovies"> 

                </div>
                <p>
                    <span>Number of Recs:</span> <input type="number" id="txtNrRecs" value="10" />
                    <span>Algorithms</span>
                    <select id="cmbAlgos">
                        <option value="popular">Popular</option>
                        <option value="bias">Bias</option>
                        <option value="itemitem">ItemItem</option>
                        <option value="useruser">UserUser</option>
                        <option value="biasedmf">BiasedMF</option>
                        <option value="implicitmf">ImplicitMF</option>
                        <option value="funksvd">FunkSVD</option>
                    </select>
                    <button id="btnQPRecs" class="btn btn-primary my-2">Get Recommendations</button>
                </p>
                <p>
                    <h4>Recommendations:</h4>
                    <div class="row" id="qpRecs">
                    </div>
                </p>
            </div>
        </section>     
    </main>

    <!-- <div id="settings">
        <h2>Get Recommendations</h2>
        <span>Users:</span> <input type="text" id="txtUsers" value="22,196,244,2038,100" />
        <span>Number of Recs:</span> <input type="text" id="txtNrRecs" value="10" />
        <span>Algorithms</span>
        <select id="cmbAlgos">
            <option value="popular">Popular</option>
            <option value="bias">Bias</option>
            <option value="topn">TopN</option>
            <option value="itemitem">ItemItem</option>
            <option value="useruser">UserUser</option>
            <option value="biasedmf">BiasedMF</option>
            <option value="implicitmf">ImplicitMF</option>
            <option value="funksvd">FunkSVD</option>
        </select>
        <span>Items:</span> <input type="text" id="txtItems" value="5,102,203,304,400" />
        <button id="btnRecs">Get Recommendations/Predictions</button>
        <h4>Recommendations/Predictions:</h4>
        <div class="recs">
        </div>
    </div> -->
</body>